<article class="container">
</article>

<form class='next-tweets' action='/' method='post'>
  <label id="label" for='keyword'>Begin the flow of information</label>
  <input id='input-text' type='text' name='keyword' placeholder='...'>
  <input id='button' type='submit'>
</form>

